body{

   background-color: #B5E5CF;
}

.name{
   color: #3D5B59;
   text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;

}
